{% extends 'base.html.twig' %}

{% block title %}Chambre !{% endblock %}

{% block body %}
<div class="container">
    <img src="{{chambre.photo}}" alt="">
    <h5>Equipement et informations</h5>
    <p>{{chambre.descriptionLongue|raw}}</p>
</div>
{% endblock %}
