{% extends 'base.html.twig' %}

{% block title %}Conditions générales - Hôtelhouse{% endblock %}

{% block body %}
<div class="container">
<h1>Conditions générales de vente</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam explicabo ea eum qui illo in? Provident magni odit tenetur, exercitationem accusantium aperiam mollitia amet totam quis quos numquam omnis perspiciatis!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ipsum facere obcaecati accusantium possimus veritatis dignissimos consequatur laborum minus pariatur repudiandae, architecto neque excepturi totam, unde tenetur suscipit aliquam nesciunt.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio nam voluptatum quod? Ipsam impedit repellendus dolorem eaque nihil, illum et iste nulla recusandae, eos dignissimos provident itaque non a nisi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis corporis accusamus, ratione sunt ipsam atque nesciunt dolorum iusto, quas est beatae eveniet placeat! Esse, culpa eligendi. Voluptatem obcaecati amet aut.</p>
</div>
{% endblock %}